/* General Styling */

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 10px 25px;
  background-color: #4cd463;
  color: white;
  border-radius: 100px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  text-align: center;
}

/* Login Form Styling */

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

input {
  padding: 5px;
}

.error {
  color: red;
}

/* Subscriptions */

.subscription {
  border: 1px solid black;
  margin: 50px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
